<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>SB Admin - Login</title>
      <!-- Bootstrap core CSS-->
      <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template-->
      <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <!-- Custom styles for this template-->
      <link href="css/sb-admin.css" rel="stylesheet">
   </head>
   <body class="bg-dark">
      <div class="container">
         <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
               <form action="." method="post" id="login-form">
                  <div class="form-group">
                     <div class="form-label-group">
                        <input type="text" class="validate form-control" name="username" id="username" placeholder="Username" required="required"></input>
                     </div>
                     <div class="form-label-group">
                        <input type="password" id="inputPassword" class="validate form-control" name="password" id="password" placeholder="Password" required="required"/>
                     </div>
                     {% csrf_token %}
                     <button type="submit" form="login-form" class="btn btn-primary btn-block">Login</a></button>
                  </div>
               </form>
               <div class="text-center">
                  <a class="d-block small mt-3" href="register.html">Register an Account</a>
                  <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
               </div>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript-->
      <script src="/static/vendor/jquery/jquery.min.js"></script>
      <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Core plugin JavaScript-->
      <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
   </body>
</html>