{% extends "base.html" %}

{% block content %}
<div id="wrapper">
    {% include "sidebar.html" %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <main>
                <div class="mb-3">
                    <div class="card-header">
                        <i class="fas fa-unlock"></i>
                        Therapist: {{ therapist.name }}
                    </div>

                </div>
                <form action="/web/patient/record/{{ record_id }}/permission/{{ therapist.id }}/" method="post" id="record-permission-form" enctype="multipart/form-data">
                    <div class="form-group">
                        {{ permission_form }}
                        {% csrf_token %}
                        <button type="submit" form="record-permission-form" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
{% endblock %}