{% extends "base.html" %}

{% block content %}
<div id="wrapper">
    {% include "sidebar.html" %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <main>
                <div class="mb-3">
                    <div class="card-header">
                        <i class="fas fa-unlock"></i>
                        Therapist: {{ therapist.name }}
                    </div>

                </div>
                <form action="/web/patient/permission/{{ therapist.id }}/" method="post" id="record-permission-form" enctype="multipart/form-data">
                    <div class="form-group">
                        Default {{ permission_form }}
                        {% csrf_token %}
                        <button type="submit" form="record-permission-form" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </main>
        </div>
        <div class="container-fluid">
            <main>
                <div class="mb-3">
                    <div class="card-header">
                        <i class="fas fa-unlock"></i>
                        Explicit Permissions
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Permission</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if explicit_permissions %}
                                    {% for p in explicit_permissions %}
                                    <tr>
                                        <td>{{ p.title }}</td>
                                        <td>{{ p.read_access }} (<a href="/web/patient/record/{{ p.id }}/permission/{{ therapist.id }}" target="_blank">Change</a>)</td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}