{% extends "base.html" %}

{% block content %}
<div id="wrapper">
    {% include "sidebar.html" %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <main>
                <div class="mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Image Record #{{ record_id }}
                </div>
                <img class="img-fluid" src="http://c1.thejournal.ie/media/2015/04/shutterstock_124547806-390x285.jpg">
                </div>

            </main>
        </div>
    </div>
</div>

{% endblock %}