{% extends "base.html" %}

{% block content %}
<div id="wrapper">
    {% include "sidebar.html" %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <main>
                <div class="mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Image Record #{{ record_id }}
                </div>
                <div class="row">
                    {{ description|safe }}
                </div>
                <img class="img-fluid" src="{{ obj_link }}">
                </div>

            </main>
        </div>
    </div>
</div>

{% endblock %}