{% extends "base.html" %}

{% block content %}
<div id="wrapper">
  {% include "sidebar.html" %}
  <div id="content-wrapper">
    <div class="container-fluid">
      <main>
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Patient details
          </div>
          <div class="card-body">
            <table>
              <tr>
                <td>Name: <input type="text" value="{{ selected_patient.name }}" readonly></td>
                <td>Sex: <input type="text" value="{{ selected_patient.sex }}" readonly></td>
                <td>DOB: <input type="text" value="{{ selected_patient.date_of_birth }}" readonly></td>
              </tr>
              <tr>
                <td>Address: <input type="text" value="{{ selected_patient.address }}" readonly></td>
                <td>Contact Number: <input type="text" value="{{ selected_patient.contact_number }}" readonly></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

{% endblock %}