<!-- Sidebar -->
<ul class="sidebar navbar-nav">

  {% if user.userprofile.role == ROLE_THERAPIST %}
  <h6 class="dropdown-header">My Patients:</h6>

  {% for p in therapist_patients %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-user"></i>
      <span>{{ p.name }}</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <a class="dropdown-item" href="/web/therapist/patient/{{ p.id }}/">All Records</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/web/therapist/patient/{{ p.id }}/0">Images</a>
      <a class="dropdown-item" href="/web/therapist/patient/{{ p.id }}/1">Time Series</a>
      <a class="dropdown-item" href="/web/therapist/patient/{{ p.id }}/2">Movies</a>
      <a class="dropdown-item" href="/web/therapist/patient/{{ p.id }}/3">Document</a>
      <a class="dropdown-item" href="/web/therapist/patient/{{ p.id }}/4">Diagnosis</a>
      <a class="dropdown-item" href="/web/therapist/patient/{{ p.id }}/5">Blood Pressure</a>
      <a class="dropdown-item" href="/web/therapist/patient/{{ p.id }}/6">Height</a>
      <a class="dropdown-item" href="/web/therapist/patient/{{ p.id }}/7">Weight</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/web/patient/{{ p.id }}/detail">Patient Details</a>
    </div>
  </li>
  {% endfor %}
  {% endif %}

  {% if user.userprofile.role == ROLE_PATIENT %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/" role="button" >
      <i class="fas fa-fw fa-folder"></i>
      <span>All records</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/0/" role="button" >
      <i class="fas fa-fw fa-folder"></i>
      <span>Images</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/1/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Time Series</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/2/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Movie</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/3/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Document</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/4/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Diagnosis</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/5/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Blood Pressure</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/6/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Height</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/7/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Weight</span>
    </a>
  </li>
   <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="/web/patient/upload/" role="button">
       <i class="fas fa-fw fa-folder"></i>
       <span>Upload Health Data</span>
     </a>
   </li>
  {% endif %}
</ul>