<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/" role="button" >
      <i class="fas fa-fw fa-folder"></i>
      <span>All records</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/0/" role="button" >
      <i class="fas fa-fw fa-folder"></i>
      <span>BP</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/1/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Images</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/2/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Time Series</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/3/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Moive</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/web/patient/index/4/" role="button">
      <i class="fas fa-fw fa-folder"></i>
      <span>Document</span>
    </a>
  </a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="/web/patient/index/" role="button">
    <i class="fas fa-fw fa-folder"></i>
    <span>Others</span>
  </a>
</li>
</ul>