{% extends "base.html" %}

{% block content %}
<div id="wrapper">
  {% include "sidebar.html" %}
  <div id="content-wrapper">
    <div class="container-fluid">
      <main>

        {% if selected_patient %}
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Records for {{ selected_patient.name}}
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Issued by</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  {% if records %}
                  {% for r in records %}
                  <tr>
                    <td>{{ r.date }}</td>
                    <td><a href="/web/patient/record/{{ r.id }}" target="_blank">{{ r.title }}</a></td>
                    <td>{{ r.therapist.name }}</td>
                    <td>{{ r.type }}</td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% else %}
        Select a Patient to view records.
        {% endif %}
      </main>
    </div>
  </div>
</div>
{% endblock %}